#v65-modalContentHeader{
	background: #333;
}

.contentWrapper {
	overflow: auto;
}

.checkoutContent {
	max-width: 830px;
	margin: 0 auto;
}

.promoWrapper {
	border-bottom: 1px solid #918f76;
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
}

.newsletter {
	@include group();
	margin-bottom: 1em;

	.v65-pod {
		float: left;
		width: 60%;

		@media screen and (max-width: 870px){
			width: 100%;
		}

		p {
			color: #828064;
			@include font-size(14px);

			@media screen and (max-width: 870px){
				text-align: center;
			}
		}
	}

	#v65-subscribeWidget {
		float: right;
		padding-top: 4px;
		width: 31%;

		@media screen and (max-width: 870px){
			float: none;
			margin: 0 auto;
			width: 50%;
		}

		@media screen and (max-width: 580px){
			float: none;
			margin: 0 auto;
			width: 80%;
		}

		input {
			height: 32px;
			line-height: 32px;
			width: 60%;
			@include boxSizing();
		}

		button {
			background: #918f76;
			border: 0;
			font-family: $fontSanSerif;
			height: 32px;
			line-height: 32px;
			width: 32%;

			span {
				color: #fff;
				@include font-size(12px);
				line-height: 32px;
				height: 32px;
			}
		}
	}

}



#leftMenu {
	border: 1px solid #918f76;
	float: left;
	margin-bottom: 2em;
	padding: 10px;
	width: 20%;
	@include boxSizing;

	h3 {
		color: #cca36f;
		@include font-size(12px);
		font-weight: normal;
		line-height: 16px;
		letter-spacing: 1px;
		margin-bottom: 1.5em;
		text-transform: uppercase;
	}

	h4 {
		color: #4d4d43;
		@include font-size(18px);
		font-weight: normal;
		font-style: italic;
		letter-spacing: 1px;
		margin-bottom: 0.5em;
	}

	ul {
		list-style: none;
	}

	li {
		line-height: 1;
		margin-bottom: 0.5em;
	}

	@media screen and (max-width: 710px){
		border: 0;
		border-bottom: 1px solid #918f76;
		border-top: 1px solid #918f76;
		float: none;
		margin: 0 auto;
		width: 80%;
	}

	@media screen and (max-width: 580px){
		margin: 0 auto 2em auto;
	}

}

	#selectYourState {
		
		fieldset {
			color: #666666;
			@include font-size(15px);
			border: 0;
			padding: 0;
		}

		legend {
			color: #4c4b3c;
			@include font-size(12px);
			font-weight: bold;
			line-height: 16px;
			letter-spacing: 1px;
			margin-bottom: 0.4em;
			text-transform: uppercase;
		}

		select {
			display: block;
			margin: 0.5em 0;
			width: 50px !important;

			@media screen and (max-width: 580px){
				width: 70px !important;
			}
		}
	}

#pageContent {
	float: right;
	width: 77%;
	@include boxSizing;

	@media screen and (max-width: 710px){
		float: none;
		padding: 0;
		width: 100%;
	}
}


/* ----- Conciege ----- */
.concierge {
	margin-bottom: 3em;
	width: 100%;
	@include group();

	@media screen and (max-width: 580px){
		margin-bottom: 1em;
	}
}
	.conciegeLogo {
		border-right: 2px dotted #ccc;
		float: left;
		padding: 0 1.5em 0 1em;
		text-align: right;
		width: 50%;
		@include boxSizing();

		@media screen and (max-width: 580px){
			border: 0;
			float: none;
			margin: 0 auto;
			padding: 0;
			text-align: center;
			width: 98%;
		}
	}
	
	.conciegeText {
		float: left;
		padding: 11px 1em 0 1.5em;
		width: 50%;
		@include boxSizing();

		@media screen and (max-width: 580px){
			float: none;
			margin: 0 auto 1em auto;
			padding: 0;
			text-align: center;
			width: 98%;
		}

		p {
			@include font-size(12px);
			line-height: 1.3;
		}

		a {
			@include font-size(14px);
		}
	}

.concierge-popup {
	position: absolute;
	bottom: 0;
	height: 70px;
	right: 30px;
	width: 240px;

	@media screen and (max-width: 710px){
		display: none;
	}
}

/* ----- Homepage Styles ----- */
@import 'content_home';

/* ----- Page Styles ----- */
@import 'content_page';

/* ----- Store Styles ----- */
@import 'content_store';