html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body{
	color: $fontColor;
	font:{
		family: $fontSerif;
	}
	height: 100%;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1em 1em 0 1em;
	position: relative;
	@include boxSizing();

	@media screen and (max-width: 580px){
		padding: 0;
	}
}

header, section, article {
	@include group();
}

h1, h2, h3, h4, h5, h6 {
	color: $headingColor;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

h1 {
	color: #828064;
	@include font-size(36px);
	font-style: italic;
	margin-bottom: 0.5em;
}

h2 {
	color: #828064;
	@include font-size(36px);
	font-style: italic;
	margin-bottom: 0.5em;
}

h3 {
	color: #828064;
	@include font-size(24px);
	margin-bottom: 0.5em;
}

h4 {
	color: #828064;
	@include font-size(18px);
	line-height: 1.2;

	em {
		color: #952025;
		font-style: normal;
	}
}

h5 {
	@include font-size(16px);
}

h6 {
	color: #5c5c56;
	@include font-size(14px);
	text-transform: uppercase;
	margin-bottom: 1em;
}

.v65-title { 
	color: #453221;
	@include font-size(22px);
	line-height: 26px;
	font-weight: normal;
	margin-bottom: 10px;

	a {
		color: #453221;
	}
}

.v65-subtitle {
	color: #453221;
	@include font-size(16px);
	font-weight: normal;
	margin-bottom: 10px;
}

p, blockquote, ul, ol, dl, form {
	@include font-size(14px);
	margin: 0 0 0.8em;
	line-height: 1.5;
}

dl, ol, ul {
	padding-left: 15px;
}

blockquote {
	color: #525252;
	@include font-size(14px);
	font-style: italic;

	&:before {
		content: '\201C';
	}
	&:after {
		content: '\201D';
	}

}

cite {
	color: #a09e88;
	@include font-size(12px);
	text-align: right;
	width: 100%;
	display: inline-block;
}

a{
	color: $linkColor;
	text-decoration: none;

	&:hover, &:focus, &:active{
		color: $linkeColorHover;
		text-decoration: none;
	}
}

img{
	border:none;
	height: auto !important;
	max-width: 100%;
}

form {
	margin-bottom: 1em;
}

legend {
	color: $fontColor;
}

a[name=footerNav]{
	display: none !important;
}

input[type='text'], input[type='password'], input[type='username'], input[type='tel'], input[type='email']  {
	border-radius: 0.325em;
	height: 44px;
	line-height: 44px;
	@include boxSizing();
}